/* .AboutUs{
    background-color: red;
}

.upper-about{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about{
    margin: 10rem;
    margin-top: 5rem;
    border-radius: 10px;
}

.aboutustitle{
    position: absolute;
    right: 25%;
    margin-top: 5rem;
    font-size: 4rem;
    font-weight: 700;
}

.aboutusinfo{
    position: absolute;
    right: 20%;
    margin-top: 12rem;
    font-size: 2.6rem;
} */

.AboutUs {
    width: 100%;
    padding: 8rem ;
    padding-top: 4rem;
    background-color: #f7f1e8; 
    display: flex;
    justify-content: center;
}

.upper-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
}

.about-image img {
    width: 100%;
    /* scale: calc(0.8); */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,1);
}


.aboutustitle {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.aboutustext {
    text-align: center;
    padding-top: 4rem;
    font-size: 2.6rem;
    color: #333;

}

/* RESPONSYWNOŚĆ */
/* @media (max-width: 900px) {
    .aboutustext {
        text-align: center;
    }
    .upper-about {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .aboutustitle {
        margin-top: 30px;
    }
} */
