/* .contact{
    background-color: rgba(223, 223, 223, 0.5);
    	height: auto;
        position: relative;
        padding-top: 1rem;
}
.contact-info{
    display: block;
    color: white;
    padding: 2rem;
    text-align: center;
}
.map{
    width: 60rem;
    height: 45rem; 
    border:0; 
} */
.contact {
  background-color: #2b2b2b;
  color: #fff;
  padding: 4rem 10rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section-title {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  margin-bottom: 7rem;
}

.contact-section-title::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1rem;
  width: 8rem;
  height: 0.3rem;
  background-color: #c0392b;
  border-radius: 10px;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
  width: 100%;
  max-width: 1400px;
  flex-wrap: wrap;
}

.contact-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.phone,
.address,
.hours {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.hours-text{
  flex-direction: column;
}

.phone-icon,
.address-icon,
.hours-icon {
  padding-top: 0.8rem;
  font-size: 3rem;
  color: #fff;
  /* flex-shrink: 0; */
}

.phone-info,
.address-info,
.hours-info,
.hours-details {
  font-size: 2.5rem;
  line-height: 1.6;
  color: #f5f5f5;
}

/* .phone-info strong,
.hours-details strong {
  font-weight: 700;
} */

/* .hours-details {
  font-size: 1.6rem;
  color: #d3d3d3;
} */
/* 
.address-info {
  font-weight: 600;
} */

.map-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}


/* @media (max-width: 1000px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
  }

  .contact-details {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .phone, .address, .hours {
    justify-content: center;
  }

  .map {
    height: 350px;
    margin-top: 2rem;
  }
} */
