.gallery {
	padding: 2rem 5rem 5rem 5rem;
	background-color: #f8f8f8;
}

.gallery__title {
	text-align: center;
	font-size: 4rem;
	margin-top: 1rem;
	position: relative;
	margin-bottom: 3rem;
	text-transform: uppercase;
}

.gallery__title::after {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -1rem; /* odległość kreski od tekstu */
	width: 8rem; /* długość kreski */
	height: 0.3rem; /* grubość kreski */
	background-color: #7a7474; /* kolor czerwony */
	border-radius: 10px; /* zaokrąglone końce */
}

/* FLEX */
.gallery__flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.gallery__item {
	flex: 1 1 20rem; /* responsive kolumny */
	max-width: 30rem;
	overflow: hidden;
	border-radius: 12px;
	cursor: pointer;
}

.gallery__item img {
	width: 100%;
	height: 22rem;
	object-fit: cover;
	transition: transform 0.4s ease;
}

.gallery__item:hover img {
	transform: scale(1.1);
}

/* MODAL */ /* MODAL */
.modal {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	animation: fadeIn 0.3s ease;
}

.modal__content {
	position: relative;
	max-width: 90%;
	max-height: 90%;
	display: flex;
	align-items: center;
}

.modal__image {
	max-width: 100%;
	max-height: 80vh;
	border-radius: 12px;
	animation: zoomIn 0.35s ease;
}

/* ANIMACJE */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes zoomIn {
	from {
		transform: scale(0.8);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

/* STRZAŁKI */
.modal__arrow {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	font-size: 4rem;
	color: white;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0 15px;
	user-select: none;
	z-index: 1001;
}

.modal__arrow:hover {
	transform: translateY(-50%) scale(1.2);
}

.modal__arrow.left {
	left: 40px;
}

.modal__arrow.right {
	right: 40px;
}

/* KRZYŻYK */
/* FORCE CLOSE BUTTON VISIBILITY */
.modal__close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	/* font-size: 2.5rem; */
	color: white;
	background: rgba(0, 0, 0, 0.6);
	border: none;
	cursor: pointer;
	padding: 0.6rem 1rem;
	border-radius: 999px;
	z-index: 10;
}

/* IMAGE SLIDER */
.modal__content {
	position: relative;
	max-width: 90%;
	max-height: 90%;
	overflow: hidden;
}

.modal__image {
	max-width: 100%;
	max-height: 80vh;
	border-radius: 12px;
	position: relative;
	animation-duration: 0.4s;
	animation-fill-mode: both;
}

/* SLIDE RIGHT */
.slide-right {
	animation-name: slideFromRight;
}

/* SLIDE LEFT */
.slide-left {
	animation-name: slideFromLeft;
}

@keyframes slideFromRight {
	from {
		transform: translateX(60px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideFromLeft {
	from {
		transform: translateX(-60px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
