.gallery {
	padding: 80px 10%;
	background-color: #f8f8f8;
}

.gallery__title {
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 40px;
}

/* FLEX */
.gallery__flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.gallery__item {
	flex: 1 1 20rem; /* responsive kolumny */
	max-width: 30rem;
	overflow: hidden;
	border-radius: 12px;
	cursor: pointer;
}

.gallery__item img {
	width: 100%;
	height: 22rem;
	object-fit: cover;
	transition: transform 0.4s ease;
}

.gallery__item:hover img {
	transform: scale(1.1);
}
