.services {
	padding: 0 10rem;
	height: auto;
	/* background-color: rgba(223, 223, 223, 0.5); */
}

.section-title {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}

.services h2 {
	padding-top: 1rem;
	font-size: 4rem;
}

.underline {
	width: 14rem;
	height: 0.25rem;
	margin: 1rem auto;
	background-color: #7a7474;
}

.services-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}

.service-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 35rem;
	height: 20rem;
	margin: 5rem;
	background-color: #d4caca4b;
	border-radius: 1rem;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.service-icon {
	font-size: 3.5rem;
	color: #7a7474;
	margin-bottom: 1rem;
}

.service-card h3 {
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
	color: #333;
}

.service-card p {
	font-size: 1.5rem;
	color: #555;
}
