.footer {
	background-color: #7a7474;
	color: white;
	padding: 0 0 1rem;
	/* margin-top: 5rem; */
}

.footer-content {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr auto 1fr;
	position: relative;
	/* justify-content: space-between; */
	/* flex-wrap: wrap; */
	/* gap: 3rem; */
	/* margin-bottom: 2rem; */
}

.footer-left {
	justify-self: start;
	margin-left: 3rem;
}

.footer-logo {
	height: 12vh;
	margin-left: 12rem;
	margin-top: 1rem;
}

.footer-center {
	/* position: absolute; */
	/* left: 50%; */
	/* transform: translateX(-50%); */
	display: flex;
	gap: 10rem;
	justify-self: center;
	margin-left: 7rem;
}

.footer-center ul {
	list-style: none;
	text-align: center;
}

.footer-bottom {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	text-align: center;
	padding-top: 1rem;
	font-size: 1rem;
	color: #ccc;
}
