.footer {
	position: relative;
	background-color: #7a7474;
	color: white;
	/* padding: 0 0 1rem; */
		/* height: 10vh; */
	width: 100%;
	/* margin-top: 5rem; */
	box-shadow: 0 -2px 5px rgba(0,0,0,1);
}

.footer-logo {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	height: 10vh;
	display: flex;
	align-items: center;
}

.footer-bottom {
	/* position: relative; */
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	text-align: center;
	padding: 1rem;
	/* margin-left: 0.9rem; */
	/* font-size: 1rem; */
	color: #ccc;
}

.footer-text {
	font-size: 1.2rem;
}