*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: var(--dark-grey);
	font-family: 'Inconsolata', monospace;
	font-size: 1.6rem;
}

html,
body,
#root {
	height: 100%;
	flex-direction: column;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

#services,
#about,
#gallery,
#contact {
	scroll-margin-top: 10vh;
}

.main-content {
	padding-top: 10vh;
}
